APT::Periodic::Update-Package-Lists "{{ autoupdate_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ autoupdate_download_upgradable_packages }}";
APT::Periodic::AutocleanInterval "{{ autoupdate_autoclean_interval }}";
APT::Periodic::Unattended-Upgrade "{{ autoupdate_unattended_upgrade }}";
